{% extends "wrapper.html" %}

{% block content %}
{% load static %}
<main id="main">
     <section id="features" class="padd-section">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Контакты</h2>
                <p> По вопросам и предложениям, пожалуйста, обращайтесь к создателю сайта в <a href="https://t.me/yulheneko">Телеграм</a>
                или по почте klimenko.yut@phystech.edu.</p>
            </div>
        </div>
</main>

{% endblock %}