{% extends "wrapper.html" %}

{% block content %}
{% load static %}
<main id="main">
    <section id="features" class="padd-section">
        <div class="container" data-aos="fade-up">
            <div class="section-title text-center">
                <h2>Часто задаваемые вопросы</h2>
                <ol>
                    <li><h4>Не получается добавить новый рецепт, так как препарата нет в выпадающем списке. Что делать?</h4></li>
                    <p> Чтобы добавить рецепт на новое лекарство, для начала добавьте новое лекарство
                    во вкладке "Препарат" -> "Добавить препарат". Затем вернитесь на страницу добавления рецепта и выберите новый
                    препарат из выпадающего списка.</p>
                    <li><h4>Что подразумевается под дозировкой при добавлении нового рецепта?</h4></li>
                    <p> Вы сами решаете, что записать в форму -это может быть количество таблеток за один прием или доза препарата в мг.
                    Это значение будет отражено во вкладке "Мои рецепты".</p>
                </ol>

            </div>

</main>

{% endblock %}