{% extends "wrapper.html" %}

{% block content %}
{% load static %}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>Добро пожаловать в Apotheker!</h1>
      <p>Добавляйте новые препараты, назначенные врачом
        <br>Планируйте свой курс лечения
        <br>Получайте напоминания о приеме лекарств</p>
<!--      <img src="assets/img/hero-img.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">-->
      <a href="{% url 'main:login' %}" class="btn-get-started scrollto">Войти</a>

    </div>
  </section><!-- End Hero Section -->
{% endblock %}